*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background:url(gbimage.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    margin: 70px;
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgb(244, 10, 216);
    border-radius: 20px;
    display: flex;
    justify-content:  center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox {
    position:relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;


}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background:transparent ;
    border: 5px;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1em;
    top: 20px;

}
.forgot{
 margin: 1px;
 
 font-size: 1em;
 color: #161313;
 display: flex;
 justify-content: center;

}
.forgot label a{
    color: #20e10b;
    text-decoration: none;

}
.forgot label a:hover{
    text-decoration: underline;

}
button{
    margin: 10px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #02dd85;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin:25px 0 10px;

}
.register p a{
    text-decoration: none;
    color: #04baa8;
    font-weight: 700;

}
.register p a:hover{
    text-decoration: underline;
}
